  
  .SearchingInput {
    width: 594px;
    height: 44px;
    border-radius: 25px;
    display: flex;
    flex-flow: row;
    border: 1px solid #ddd;
  }

  @media(max-width:580px){
    .SearchingInput {
      width: 375px;
    }
  }
  
  .textbox{
    background-color: transparent;
    border: none;
    margin-left:20px;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    font: 16px arial,sans-serif;
  }

  .SearchingInput:hover{
    box-shadow: 1px 1px 8px #ccc;
    border: 1px solid transparent;
  }
  
.SearchingInput:active{
    box-shadow: 1px 1px 8px #ccc;
    border: 1px solid transparent;
  }

  .mic{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right:  21px;
    width: 14px;
    height: auto;
    align-items: center;
  
  }