.menu{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding-right:20px; 
    padding-left:30px; 
    font-size: 13px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}


.menucontent{
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.menucontent:hover{
    text-decoration: underline;
}

.coustomTooltipWidth{
    max-width: 100px;
}