.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #eee;
}

@media(max-width:580px){
    .footer{
        position: unset;
        margin-top: 240px;
    }
  }