.bottomleft{
    display: flex;
    padding: 13px 15px;
    flex: 1;
}
.bottomright{
    display: flex;
    padding: 13px 15px;
}

.bottomrightSecondary{
    display: none;
    padding: 13px 15px;
}

.rows{
    display: flex;
    flex-flow: row;
}
.text{
    color: #444;
    font-size: 13px; 
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    font-stretch: 100%;
    text-decoration: none;
    padding: 0px 14px;
}
.text:hover{
    text-decoration: underline
}
.text:active{
    color: red;
}

@media(max-width:580px){
    .rows{
        display: flex;
        flex-flow: column-reverse;

    }
    .bottomleft{
        display: flex;
        justify-content: center;
    }
    .bottomright{
        display: none;
    }
    .bottomrightSecondary{
        display: flex;
        justify-content: center;
    }
    .text{
        font-size: 16px;
    }
  }